.CardMember {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: clamp(8px, 2vw, 10px);
  width: 100%;
  max-width: clamp(145px, 25vw, 180px);
  min-width: clamp(140px, 22vw, 145px);
  text-align: center;
  
  .avatar {
    position: relative !important;
    overflow: hidden;
    border-radius: 26px;
    width: 100%;
    aspect-ratio: 1;
    transition: 0.3s;
    cursor: pointer;
    
    &:hover {
      transform: scale(1.1, 1.1);
    }
  }
  
  h3 {
    margin-top: 10px;
    font-size: clamp(14px, 3vw, 16px);
    font-weight: 600;
  }
  
  p {
    font-size: clamp(12px, 2.5vw, 14px);
    font-weight: 500;
    line-height: 1.5;
  }
}

/* Mobile First подход */
@media screen and (min-width: 481px) {
  .CardMember {
    max-width: 180px;
  }
}

@media screen and (max-width: 480px) {
  .CardMember {
    max-width: 145px;
    min-width: 140px;
  }
}