.Substrate {
  margin-top: clamp(30px, 6vw, 50px);
  margin-left: auto;
  margin-right: auto;
  border: 3px solid transparent;
  box-shadow: 32px 32px 32px 0 rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 1200px;
  padding: clamp(20px, 4vw, 41px) clamp(16px, 8vw, 100px);
  background: linear-gradient(
        53deg,
        rgb(20, 39, 49),
        rgb(18, 31, 38),
        rgb(18, 31, 38),
        rgb(65, 67, 60)
      )
      padding-box,
    linear-gradient(
        138deg,
        rgb(130, 133, 140),
        rgb(16, 28, 35),
        rgb(16, 28, 35),
        rgb(111, 114, 114),
        rgb(111, 134, 113),
        rgb(93, 148, 105),
        rgb(37, 50, 72)
      )
      border-box;
  border-radius: 40px;
  .text_box {
    margin-top: -20px;
    font-size: clamp(14px, 2vw, 16px);
    font-weight: 300;
    line-height: 2;
    text-align: justify;
    white-space: pre-line;
    mask-image: linear-gradient(
      to top,
      transparent 0%,
      #02121c 10%,
      #02121c 90%,
      transparent 100%
    );
    p{
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
  }
  .scroll {
    padding: 0 50px 0 0;
    height: 338px;
    overflow-y: auto;
    &::-webkit-scrollbar-track {
      background: #242d2e;
      background: -moz-linear-gradient(
        90deg,
        #242d2e 0%,
        #242d2e 45%,
        rgba(255, 255, 255, 1) 50%,
        #242d2e 55%,
        #242d2e 100%
      );
      background: -webkit-linear-gradient(
        90deg,
        #242d2e 0%,
        #242d2e 45%,
        rgba(255, 255, 255, 1) 50%,
        #242d2e 55%,
        #242d2e 100%
      );
      background: linear-gradient(
        90deg,
        #242d2e 0%,
        #242d2e 45%,
        rgba(255, 255, 255, 1) 50%,
        #242d2e 55%,
        #242d2e 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#072b40",endColorstr="#072b40",GradientType=1);
    }
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
  }
  &::-webkit-scrollbar-button {
      background-size: 100%;
      height: 5px;
      width: 5px;
      background: #242d2e;
  }
  &::-webkit-scrollbar-button:end {
      display: block;
  }
  &::-webkit-scrollbar-button:start {
      display: block;
  }
    @media screen and (max-width: 576px) {
      &::-webkit-scrollbar-track {
        background: #152227;
        background: -moz-linear-gradient(
          90deg,
          #152227 0%,
          #152227 45%,
          rgba(255, 255, 255, 1) 50%,
          #152227 55%,
          #152227 100%
        );
        background: -webkit-linear-gradient(
          90deg,
          #152227 0%,
          #152227 45%,
          rgba(255, 255, 255, 1) 50%,
          #152227 55%,
          #152227 100%
        );
        background: linear-gradient(
          90deg,
          #152227 0%,
          #152227 45%,
          rgba(255, 255, 255, 1) 50%,
          #152227 55%,
          #152227 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#072b40",endColorstr="#072b40",GradientType=1);
      }
    }

    &::-webkit-scrollbar {
      width: 13px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #fff;
      border-radius: 6px;
    }

  }
  .title_container{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  h2 {
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 30px;
    white-space: pre-line;
  }
  h3 {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 3;
    margin-bottom: 10px;
    white-space: pre-line;
  }
}
.button_wrapper_spacing {
  margin-top: 30px;
}

@media screen and (max-width: 1200px) {
  .Substrate {
    padding: clamp(24px, 4vw, 40px);
    margin-top: clamp(30px, 6vw, 50px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: auto;

    .scroll {
      padding: 0 clamp(16px, 3vw, 30px) 0 0;
    }
  }
  .with_button {
    padding-bottom: 160px;
    // .scroll {
    //   height: 216px;
    // }
  }
  .button_wrapper_spacing {
    margin-top: -120px;
  }
}
@media screen and (max-width: 576px) {
  .Substrate {
    margin-top: clamp(30px, 6vw, 50px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: clamp(20px, 4vw, 30px) clamp(8px, 2vw, 12px) clamp(20px, 4vw, 30px) clamp(16px, 4vw, 20px);
    .text_box{
      height: clamp(300px, 70vh, 400px);
    }
    .scroll {
      padding: 0 clamp(12px, 3vw, 20px) 0 0;
      touch-action: pan-y;
    }

    h3 {
      font-size: clamp(16px, 4vw, 20px);
      line-height: 2;
    }
  }
  .with_button {
    padding-bottom: 80px;
    .scroll {
      // height: 216px;
    }
    h2 {
      font-weight: 400;
    }
  }
  .button_wrapper_spacing {
    margin-top: 40px;
  }
}
@media screen and (max-width: 480px) {
  .with_button {
    padding-bottom: 80px;
    h2 {
      font-weight: 400;
    }
  }
  .button_wrapper_spacing {
    margin-top: 40px;
  }
}
